---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<ul class="grid md:grid-cols-2 gap-2">
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>
          <Image
            width={720}
            height={360}
            src={post.data.heroImage}
            alt="アイキャッチ"
            class="rounded-lg"
          />
          <h3 class="font-Zenkaku ml-2 mt-4 mb-1">{post.data.title}</h3>
          <span class="font-Zenkaku text-sm ml-2">
            <FormattedDate date={post.data.pubDate} />
          </span>
        </a>
        {post.data.tags && post.data.tags.length > 0 && (
          <div class="flex flex-wrap">
            {post.data.tags.map((tag) => (
              <a href={`/tags/${tag}/`}>
                <span class="ml-2 mr-1 my-2 px-2 py-1 ring-1 ring-gray-400 rounded font-Zenkaku text-xs">
                  # {tag}
                </span>
              </a>
            ))}
          </div>
        )}
      </li>
    ))
  }
</ul>
